.loginView{
    margin-top: 5em;
}
.btnLogin{
    width: 100%;
}

@media screen and (max-width: 767px) {
    .menuEscritorio{
        display: none;
    }
}
@media screen and (min-width: 767px){
    .menuMobile{
        display: none;
    }
}