<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro libreria</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<body>
<div class="container loginView">
    <div class="row jumbotron">
        <div class="col-lg-offset-2 col-md-offset-2 col-xs-offset-2 col-lg-8 col-md-8 col-xs-8 text-center">
            <h1><i class="glyphicon glyphicon-book"></i></h1>
            <h1>Sign Up</h1>
            <p>Para comenzar por favor complete los siguientes datos
            </p>
        </div>
        <!--Formulario de credenciales-->
        <div class="col-lg-offset-2 col-md-offset-2 col-xs-offset-2 col-lg-8 col-md-8 col-xs-8">
            <form action="">
                <div class="form-group">
                    <label for="usuario">Usuario:</label>
                    <input id="usuario" type="text" class="form-control" name="usuario">
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre y apellido:</label>
                    <input id="nombre" type="text" class="form-control" name="nombre">
                </div>
                <div class="form-group">
                    <label for="correo">Correo de contacto:</label>
                    <input id="correo" type="email" class="form-control" name="correo" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success text-uppercase btnLogin">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</body>
</html>